@import "../../../../node_modules/rfs/scss";

p {
    font-size: 1rem;
    line-height: 1.6;
}

h1, .h1 {
    @include font-size(40px);
}

h2, .h2 {
    @include font-size(32px);
}

h3, .h3 {
    @include font-size(22px);
}

.heading-subtitle {
    font-weight: bold;
    color: var(--red-8);
}