.z-index-10 { z-index:10;}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: .3s;
    transition: .3s;
    content: "";
}

.position-relative { position: relative; }